

<div class="login-page">
  <div class="login-container">
    <div class="login-header">
      <%# <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
      </div> %>
      <%# <h1>ProjectFlow</h1> %>
    </div>
    <div class="login-form-container">
      <h2>Welcome back</h2>
      <p class="subtitle">Please enter your credentials to access your projects</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="">
          <%= f.submit "Log in", class:"btn-primary" %>
        </div>
      <% end %>

      <div class="login-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="login-image">
      <img src="https://images.pexels.com/photos/3184419/pexels-photo-3184419.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Team collaboration">
    </div>
  </div>
</div>